@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.3);
    background: #000 url(../images/broken_noise.png) repeat;
}

a {
    color: #ea7f27;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover, a:active, a:focus {
    color: #ea7f27;
    outline: none;
    text-decoration: none;
}
  
p {
    margin-bottom: 30px;
    font-style: 18px;
}
  
h1, h2, h3, h4, h5, h6, figure {
    color:#ffffff;
    font-family: "Lato", serif;
    font-weight: 400;
    margin: 0 0 20px 0;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(
        rgb(0, 0, 0),
        rgb(0, 0, 0));
    background-size: cover;
    min-height: 13vh;
    display: flex;
    align-items: center; 
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;

}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #ce9678;
}

#menu {
    display: none
}

.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;

}
.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;

}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.section {
    padding: 7em 0;
}

.section p {
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    line-height: 1.5;
}

.texto {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}
.texto h2 {
  font-style: 40px;
  color: #fff;
  font-family: "Satisfy", cursive;
}
#about .img-wrap img {
  margin-bottom: 10px;
}

#main .main-container {
    text-align: center;
}

#main .main-container h2 {
    font-size: 55px;
    line-height: 70px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #dacbcb;
    padding: 0 250px;
    margin-bottom: 35px;
}

.cabin-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

.cabin {
    padding: 0 25px;
}

.cabin img {
    width: 200px;
}

.cabin h3 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #dacbcb;
}

#main .cabin .cabin-price {
    font-style: 10px;
    color: #fee856;
    margin-bottom: 10px;
    font-size: 15px;
    display: block;
  }

#section-resenia .texto {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

#section-resenia .texto h2{
    font-family: "Lato", cursive;
    color: #fff;
}

.resenia-box {
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

.resenia-box img {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
}

.resenia-box .resenia-text {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    padding: 30px;
    float: left;
    background: rgba(255, 255, 255, 0.03);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.resenia-box .resenia-text span {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px !important;
    color: #C5C5C5;
}

.resenia-box .resenia-text h4 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
    color:#dacbcb;
}

.resenia-box .resenia-text h4 a {
    color: white;
}

.opinion-content {
    display: flex;
    justify-content: space-between;
}

.footer {
    padding: 25px 0;
    background-color: #000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}
.link a {
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}

.redsocial {
    width: 30px;
    height: 30px;
}

.logos ul {
    display: flex;
    padding: 0%;
    justify-content: space-between;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #9b5301;
    color: #140801;
    text-transform: uppercase;
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}

.btn-1:hover, .btn-1:active, .btn-1:focus {
    box-shadow: none !important;
    outline: none !important;
    background-color: #ebad8d;
}




