{% extends "base.html" %}
	{% block title%}Hospedaje{% endblock %}
	{% block body %}
    <div class="container">
        <div class="title-container">
            <h2>Reservas ejecutadas</h2>
        </div>
        <div class="booking-container">
            <div class="headerBookings">
                <div class="item">
                    Nombre
                </div>
                <div class="item">
                    Apellido
                </div>
                <div class="item">
                    Mail
                </div>
                <div class="item">
                    Celular
                </div>
                <div class="item">
                    Direccion
                </div>
                <div class="item">
                    Fecha de entrada
                </div>
                <div class="item">
                    Fecha de Salida
                </div>
                <div class="item">
                    Hora
                </div>
            </div>
            <div id="tableBody">
                
            </div>
        </div>
    </div>

    {% endblock %}