<!-- frontend/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospedaje</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

  <header id="homepage-header">
    <div class="container">
      <div class="row">
        <div class="display-t">
          <div class="display-tc">
            <h1>Bienvenido al sitio de hospedaje DevDreamTeam</h1>
            <h2>Cabañas y habitaciones</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="d-flex justify-content-center align-items-center flex-column px-3 my-4">
    <div class="container d-flex justify-content-evenly my-5" style="width:60%">
	    <a href="{{ url_for('cabins') }}"><button type="button" class="btn btn-dark">Ver Cabañas</button></a>
	    <a href="{{ url_for('habitaciones') }}"><button type="button" class="btn btn-primary">Ver Habitaciones</button></a>
    </div>
  </main>

  <div id="about-us" class="section">
    <div class="container">
      <div class="row">
        <div class="columna-imagen">
          <img src="" alt="ejemplo de cabaña">
        </div>
        <div class="columna-texto">
          <div class="texto">
            <h2>Nuestras cabañas</h2>
            <p>Descripcion de la calidad de nuestras cabañas</p>
            <p>2da parte de la descripcion</p>
            <p>
              <a href="cabins.html" class="btn-primary">Cabañas</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="main" class="section">
    <div class="container">
      <div class="row">
        <div class="column-cabin">
          <div class="cabin-container">
            <img src="#" class="img-cabin" alt="Imagen cabaña 1">
            <h3>Titulo cabaña 1</h3>
            <span class="cabin-price">$$$</span>
            <p>Descripcion breve de la cabaña 1</p>
          </div>
        </div>
        <div class="column-cabin">
          <div class="cabin-container">
            <img src="#" class="img-cabin" alt="Imagen cabaña 2">
            <h3>Titulo cabaña 2</h3>
            <span class="cabin-price">$$$</span>
            <p>Descripcion breve de la cabaña 2</p>
          </div>
        </div>
        <div class="column-cabin">
          <div class="cabin-container">
            <img src="#" class="img-cabin" alt="Imagen cabaña 3">
            <h3>Titulo cabaña 3</h3>
            <span class="cabin-price">$$$</span>
            <p>Descripcion breve de la cabaña 3</p>
          </div>
        </div>
          <div class="column-cabin">
            <div class="cabin-4-container">
              <img src="#" class="img-cabin" alt="Imagen cabaña 4">
              <h3>Titulo cabaña 4</h3>
              <span class="cabin-price">$$$</span>
              <p>Descripcion breve de la cabaña 4</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div id="section-resenia" class="section">
    <div class="container">
      <div class="row">
        <div class="column-resenia">
          <div class="resenia-box">
            <img src="#" class="img-bg-resenia" alt="Imagen de fondo para la reseña 1">
          </div>
          <div  class="resenia-text">
            <span class="fecha-posted">fecha de la reseña 1</span>
            <h3>usuario 1</h3>
            <p>1era reseña Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aut nam inventore quisquam fugiat tempora quas totam officiis sunt nobis, esse, ad aliquid obcaecati saepe voluptatibus autem. Officia, corporis distinctio?</p>
          </div>
        </div>
        <div class="column-resenia">
          <div class="resenia-box">
            <img src="#" class="img-bg-resenia" alt="Imagen de fondo para la reseña 2">
          </div>
          <div  class="resenia-text">
            <span class="fecha-posted">fecha de la reseña 2</span>
            <h3>usuario 2</h3>
            <p>2da reseña Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aut nam inventore quisquam fugiat tempora quas totam officiis sunt nobis, esse, ad aliquid obcaecati saepe voluptatibus autem. Officia, corporis distinctio?</p>
        </div>
        <div class="column-resenia">
          <div class="resenia-box">
            <img src="#" class="img-bg-resenia" alt="Imagen de fondo para la reseña">
          </div>
          <div  class="resenia-text">
            <span class="fecha-posted">fecha de la reseña 3</span>
            <h3>usuario 3</h3>
            <p>3era reseña Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aut nam inventore quisquam fugiat tempora quas totam officiis sunt nobis, esse, ad aliquid obcaecati saepe voluptatibus autem. Officia, corporis distinctio?</p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
