<!-- frontend/templates/index.html -->
{% extends "base.html" %}
	{% block title%}Hospedaje{% endblock %}
	{% block body %}
  <div id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="columna-imagen">
          <img src="/static/images/SuperiorG.jpg" alt="imagen del complejo">
        </div>
        <div class="columna-texto">
          <div class="texto">
            <h2>Nuestras cabañas</h2>
            <p>
              Contamos con cabañas de categoría, cálidas y luminosas, con excelentes equipamientos y muebles rústicos artesanales, con capacidad para 2 a 6 personas.<br>
              Verano, Otoño, Invierno y Primavera. Con los cambios del año, sin importar el clima y las condiciones, venite a disfrutar de tus vacaciones. Con familia o amigos.
            </p>
            <p>
              <a href="{{ url_for('cabins') }}"><button type="button" class="btn btn-1">Ver Cabañas</button></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="main" class="section">
    <div class="container">
      <div class="row">
        <div class="cabin-wrap">
          <div class="cabin">
            <img src="/static/images/cabaña.jpg" class="img-cabin" alt="Imagen cabaña 1">
            <h3>Cabaña Superior Marrón</h3>
            <span class="cabin-price">$$$</span>
            <p>Morro es la cabaña más amplia. Tiene una amplio dormitorio secundario y un living comedor muy confortable y luminoso. Es de material y está revestida en madera y roca. Todos los ventanales y aberturas son con termopanel; la calefacción es central, de regulación individual, con radiadores. La decoración es tipo campestre patagónica y está ubicada en la parte más alta de nuestro predio. <br>
              •Dos dormitorios: uno matrimonial y otro con cuatro camas.
              •Living. <br>
              •Baño completo con ante-baño. <br>
              •Deck con asador individual y mesa de asado.
            </p>
            <a href="#" class="btn-1">Informacion</a>
          </div>
        </div>
        <div class="cabin-wrap">
          <div class="cabin">
            <img src="/static/images/cabañaf.jpg" class="img-cabin" alt="Imagen cabaña 2">
            <h3>Cabaña Laguna</h3>
            <span class="cabin-price">$$$</span>
            <p> Bella Vista es la cabaña más luminosa. Está en la planta alta de las Cabañas del Parque disfrutando de mucha luz y lindas vistas al Cerro Goye.
              Es de material y está revestida en madera y roca. Todos los ventanales y aberturas son con termopanel; la calefacción es central, de regulación individual, con radiadores. <br>
              •Un dormitorio matrimonial y dos plazas en el living. <br>
              •Cocina comedor. <br>
              •Baño completo. <br>
              •Balcón con asador y mesita de asado.
            </p>
            <a href="#" class="btn-1">Informacion</a>
          </div>
        </div>
        <div class="cabin-wrap">
          <div class="cabin">
            <img src="/static/images/CabañaL.jpg" class="img-cabin" alt="Imagen cabaña 3">
            <h3>Cabaña alto azul</h3>
            <span class="cabin-price">$$$</span>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt autem 
              aliquid reiciendis ratione ipsam quia aut, vel suscipit, tenetur voluptate
               error minima ipsum officiis dolor porro adipisci laborum atque? Minima?
            </p>
            <a href="#" class="btn-1">Informacion</a>
          </div>
        </div>
          <div class="cabin-wrap">
            <div class="cabin">
              <img src="/static/images/CabañaP.jpg" class="img-cabin" alt="Imagen cabaña 4">
              <h3>Titulo cabaña 4</h3>
              <span class="cabin-price">$$$</span>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptatibus in earum sint eligendi illo expedita repudiandae placeat sit. Et sed saepe id officia quae aspernatur earum eligendi magnam minima?
              </p>
              <a href="#" class="btn-1">Informacion</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div id="section-resenia" class="section">
    <div class="container">
      <div class="row">
        <div class="texto">
          <h2>Opiniones de nuestros clientes</h2>
        </div>
        <div class="column-resenia">
          <div class="resenia-box">
            <img src="/static/images/Susana.jpg" class="img-bg-resenia" alt="Imagen de fondo para la reseña 1">
          </div>
          <div  class="resenia-text">
            <span class="fecha-posted">07/01/2022</span>
            <h4>Susana Scarpazza</h4>
            <p>
              Un lugar único, rodeado de un hermoso bosque, las cabañas muy completas, no falta nada, entorno súper natural,  cerca de supermercados y colectivos.
              Sus dueños son súper atentos y siempre predispuestos ante cualquier necesidad, un lugar único.
            </p>
          </div>
        </div>
        <div class="column-resenia">
          <div class="resenia-box">
            <img src="/static/images/Mati.jpg" class="img-bg-resenia" alt="Imagen de fondo para la reseña 2">
          </div>
          <div  class="resenia-text">
            <span class="fecha-posted">03/01/2022</span>
            <h4>Matias Parusini</h4>
            <p>
              Excelente atención. Las cabañas amplias, limpias, con todo lo necesario para pasar unas vacaciones hermosas. Muy completa la vajilla y los utensilios para cocinar. 
            </p>
          </div>
        </div>
        <div class="column-resenia">
          <div class="resenia-box">
            <img src="static/images/Fede.jpg" class="img-bg-resenia" alt="Imagen de fondo para la reseña">
          </div>
          <div  class="resenia-text">
            <span class="fecha-posted">22/01/2023</span>
            <h4>Federico Vargas</h4>
            <p>
              Excelente atención. Las cabañas amplias, limpias, con todo lo necesario para pasar unas vacaciones hermosas. Muy completa la vajilla y los utensilios para cocinar. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}